---
import { type CollectionEntry, getCollection } from "astro:content";
import { Picture } from "astro:assets";

import BaseLayout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import BackToPrev from '@/components/BackToPrev.astro';
import Link from "@/components/LinkMod.astro";
import { getGalleryImages } from '@/utils/galleryFunctions';
import { slugify } from '@utils/commonFunctions';

export async function getStaticPaths () {
  const allGalleries = (await getCollection("galleries"))
  .filter((gallery) => !gallery.data.draft)
  .sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf());
  
  return allGalleries.map((gallery) => ({
    params: { id: gallery.id },
    props: gallery,
  }));
}
type Props = CollectionEntry<"galleries">;
const gallery = Astro.props;
const collection = gallery.collection;
const images = await getGalleryImages(gallery.id);
---

<BaseLayout>
  <Container outerClass="mx-auto max-w-4xl mt-12 sm:mt-24">
      <section class="animate my-10">
        <BackToPrev href={`/${collection}`}> All {collection} </BackToPrev>
      </section>
      <section class="mx-auto max-w-6xl">
        <article class="flex flex-col">
          <div class="mx-auto">
            <Picture 
              src={gallery.data.featuredImage}
              alt={gallery.data.title}
              aspect-ratio="3:2"
              loading="lazy"
              format=['avif', 'webp', 'jpeg']
              class:list={[
                "rounded-lg transition-all",
                "group-hover:shadow-lg group-hover:opacity-90"
              ]}
            />
            <div class="my-8 sm:my-12">
              <h1 class="items-start my-2 text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-300 sm:text-5xl">{gallery.data.title}</h1>
              <span>{gallery.data.description}</span>
            </div>
          </div>
          <div class="columns-2 sm:columns-2 gap-4">
            {
              images.map((image) => (
                <div class="image-container" id="gallery">
                  <a href={image.src} class="image-link glightbox">
                    <Picture
                      src={image}
                      alt={`Image from ${gallery.data.title} album`}
                      aspect-ratio="3:2"
                      loading="lazy"
                      format=['avif', 'webp', 'jpeg']
                      class="rounded-lg image transition-all mb-4 border border-transparent hover:border-black/50 dark:hover:border-white/50 "
                    />
                  </a>
                </div>
              ))
            }
          </div>
          <div class="max-w-4xl">
            <div class="flex font-bold text-lg mt-8 pt-4"> 
              Topics related to this gallery 
            </div>
            <div class="my-3">
              {
                gallery.data.tags.length > 0 && (
                  <div class="flex flex-wrap mt-4 gap-x-5 gap-y-1 text-md text-zinc-500 dark:text-zinc-400">
                    {
                      gallery.data.tags.map((tag: string) => (
                      <Link href={`/${collection}/tag/${slugify(tag)}`} className="text-main hover:underline" isCard={false}>
                          #{tag}
                      </Link>
                    ))}
                  </div>
                )
              }
            </div>
          </div>
        </article>
      </section>
  </Container>
</BaseLayout>

<script src="../../utils/lightbox.js" />