---
import { getEntry, type CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro'
import BlogMeta from './BlogMeta.astro';
import { Image } from 'astro:assets';
type Props = {
    singlePost: CollectionEntry<"blogs">;
}

const { singlePost } = Astro.props;
const { title, excerpt, category, featuredImage, publishedDate } = singlePost.data;
const postSlug = `blog/${singlePost.slug}`;

---
<article>
    <div class="p-2">
        <div class="rounded-lg ring-1 ring-zinc-900/5  dark:ring-white/10">
            <a href={postSlug}>
                <Image 
                    src={featuredImage}
                    alt={title}
                    class="rounded-lg"
                    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
                    widths={[240, 540, 720]}
                    width={900}
                    height={600}
                    format='webp'
                />
            </a>
            <div class="p-5">
                <a href={postSlug}>
                    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
                </a>

                <BlogMeta date={publishedDate} category={category} className="mt-4"/>

                <!-- enable this to show excerpt -->
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{excerpt}</p> -->
                
                <!-- <a href={postSlug} class="inline-flex items-center py-2 text-sm font-medium text-center text-primary">
                    Read more →
                </a> -->
            </div>
        </div>
    </div>
</article>